*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
    
    body {
     /* overflow: hidden; */
     /* font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif; */
     font-weight: 100;
     color: rgba(255, 255, 255, 1);
     margin: 0;
     padding: 0;
     /* background: #4A4A4A; */
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
    }
    
    #calendar {
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      /* width: 420px; */
      margin: 0 auto;
      /* height: 570px; */
      /* overflow: hidden; */
    }
    
    .calendar-header {
      /* height: 50px;
      width: 420px; */
      background: rgba(66, 66, 66, 1);
      text-align: center;
      position:relative;
      z-index: 100;
    }
    
    .calendar-header h2 {
      margin: 0;
      padding: 0;
      font-size: 20px;
      line-height: 50px;
      font-weight: 100;
      letter-spacing: 1px;
    }
    
    .previous-year, .next-year {
      position: absolute;
      width: 0px;
      height: 0px;
      border-style: solid;
      top: 50%;
      margin-top: -7.5px;
      cursor: pointer;
    }
    
    .previous-year:not(.disabled) {
      border-width: 7.5px 10px 7.5px 0;
      border-color: transparent rgba(160, 159, 160, 1) transparent transparent;
      left: 20px;
    }
    
    .next-year {
      border-width: 7.5px 0 7.5px 10px;
      border-color: transparent transparent transparent rgba(160, 159, 160, 1);
      right: 20px;
    }

    .previous-year.disabled, .next-year.disabled { 
      border-width: 7.5px 10px 7.5px 0;
      border-color: transparent rgba(160, 159, 160, 0.3) transparent transparent;
      left: 20px;
    }
    
    .year {
      /*overflow: hidden;*/
      opacity: 0;
    }
    
    .year.new {
      -webkit-animation: fadeIn 1s ease-out;
      opacity: 1;
    }
    
    .year.in.next {
      -webkit-animation: moveFromTopFadeYear .4s ease-out;
      -moz-animation: moveFromTopFadeYear .4s ease-out;
      animation: moveFromTopFadeYear .4s ease-out;
      opacity: 1;
    }
    
    .year.out.next {
      -webkit-animation: moveToTopFadeYear .4s ease-in;
      -moz-animation: moveToTopFadeYear .4s ease-in;
      animation: moveToTopFadeYear .4s ease-in;
      opacity: 1;
    }
    
    .year.in.prev {
      -webkit-animation: moveFromBottomFadeYear .4s ease-out;
      -moz-animation: moveFromBottomFadeYear .4s ease-out;
      animation: moveFromBottomFadeYear .4s ease-out;
      opacity: 1;
    }
    
    .year.out.prev {
      -webkit-animation: moveToBottomFadeYear .4s ease-in;
      -moz-animation: moveToBottomFadeYear .4s ease-in;
      animation: moveToBottomFadeYear .4s ease-in;
      opacity: 1;
    }
    
    .weeks {
     background: #4A4A4A;
    }
    .week.empty-week{ color: #4A4A4A; }
    .week {
      /* display: inline-block; */
      /* width: 65px;
      padding: 10px; */
      text-align: center;
      vertical-align: top;
      cursor: pointer;
      background: #4A4A4A;
      /* position: relative; */
      z-index: 100;
    }
    
    .week.other {
     color: rgba(255, 255, 255, .3);
    }
    
    .week.today {
      color: rgba(156, 202, 235, 1);
    }
    
    .week-name {
      font-size: 9px;
      text-transform: uppercase;
      margin-bottom: 5px;
      color: rgba(255, 255, 255, .5);
      letter-spacing: .7px;
    }
    
    .week-number {
      font-size: 24px;
      letter-spacing: 1.5px;
    }
    
    
    .week .week-events {
      list-style: none;
      margin-top: 3px;
      text-align: center;
      height: 12px;
      line-height: 6px;
      overflow: hidden;
    }
    
    .week .week-events span {
      vertical-align: top;
      display: inline-block;
      padding: 0;
      margin: 0;
      width: 5px;
      height: 5px;
      line-height: 5px;
      margin: 0 1px;
    }
    
    .blue { background: rgba(156, 202, 235, 1); }
    .orange { background: rgba(247, 167, 0, 1); }
    .green { background: rgba(153, 198, 109, 1); }
    .yellow { background: rgba(249, 233, 0, 1); }

    .process { background: rgb(33, 167, 250); }
    .functionalskills { background: rgb(255, 160, 64); }

    .fa.process { color: rgb(33, 167, 250); }
    .fa.functionalskills { color: rgb(255, 160, 64); }

    
    .details {
        /* margin: 0 auto; */
        position: relative;
        /* bottom: 60px; */
        /* left: 15px; */
        /* width: 92%; */
        /* height: auto !important; */
        /* max-height: 250px; */
        min-height: 30vh;
        max-height: 80vh;
        background: rgba(164, 164, 164, 1);
        margin-top: 5px;
        border-radius: 4px;
        /* margin-right: 15px; */
        /* margin-left: 15px; */
    }
    
    /* .details.in { height: 300px !important; } */

    .details.in {
      -webkit-animation: moveFromTopFade .5s ease both;
      -moz-animation: moveFromTopFade .5s ease both;
      animation: moveFromTopFade .5s ease both;
    }
    
    .details.out {
      -webkit-animation: moveToTopFade .5s ease both;
      -moz-animation: moveToTopFade .5s ease both;
      animation: moveToTopFade .5s ease both;
    }
    
    .arrow {
      position: absolute;
      top: -5px;
      left: 50%;
      margin-left: -2px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 5px 5px 5px;
      border-color: transparent transparent rgba(164, 164, 164, 1) transparent;
      transition: all 0.7s ease;
    }
    
    .events {
      height: 100%;
      padding: 7px 0;
      overflow-y: auto;
      overflow-x: hidden;
    }
    
    .events.in {
      -webkit-animation: fadeIn .3s ease both;
      -moz-animation: fadeIn .3s ease both;
      animation: fadeIn .3s ease both;
    }
    
    .events.in {
      -webkit-animation-delay: .3s;
      -moz-animation-delay: .3s;
      animation-delay: .3s;
    }
    
    .details.out .events {
      -webkit-animation: fadeOutShrink .4s ease both;
      -moz-animation: fadeOutShink .4s ease both;
      animation: fadeOutShink .4s ease both;
    }
    
    .events.out {
      -webkit-animation: fadeOut .3s ease both;
      -moz-animation: fadeOut .3s ease both;
      animation: fadeOut .3s ease both;
    }
    
    .event {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: .5px;
      padding: 2px 16px;
      vertical-align: top;
    }
    
    .event.empty {
      color: #eee;
    }
    
    .event-category {
      height: 10px;
      width: 10px;
      display: inline-block;
      margin: 6px 0 0;
      vertical-align: top;
    }
    
    .event span {
      display: inline-block;
      padding: 0 0 0 7px;
    }
    
    .entry {
      position: relative;
      padding: 0 0 0 25px;
      font-size: 13px;
      display: inline-block;
      line-height: 30px;
      background: transparent;
    }
    
    .entry:after {
      position: absolute;
      content: '';
      height: 5px;
      width: 5px;
      top: 12px;
      left: 14px;
    }
    
    .entry.blue:after { background: rgba(156, 202, 235, 1); }
    .entry.orange:after { background: rgba(247, 167, 0, 1); }
    .entry.green:after { background: rgba(153, 198, 109, 1); }
    .entry.yellow:after { background: rgba(249, 233, 0, 1); }

    .entry.functionalskills:after { background: rgba(153, 198, 109, 1); }
    .entry.process:after { background: rgba(153, 198, 109, 1); }

    
    /* Animations are cool!  */
    @-webkit-keyframes moveFromTopFade {
      from { opacity: .3; height:0px; margin-top:0px; -webkit-transform: translateY(-100%); }
    }
    @-moz-keyframes moveFromTopFade {
      from { height:0px; margin-top:0px; -moz-transform: translateY(-100%); }
    }
    @keyframes moveFromTopFade {
      from { height:0px; margin-top:0px; transform: translateY(-100%); }
    }
    
    @-webkit-keyframes moveToTopFade {
      to { opacity: .3; height:0px; margin-top:0px; opacity: 0.3; -webkit-transform: translateY(-100%); }
    }
    @-moz-keyframes moveToTopFade {
      to { height:0px; -moz-transform: translateY(-100%); }
    }
    @keyframes moveToTopFade {
      to { height:0px; transform: translateY(-100%); }
    }
    
    @-webkit-keyframes moveToTopFadeYear {
      to { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
    }
    @-moz-keyframes moveToTopFadeYear {
      to { opacity: 0; -moz-transform: translateY(-30%); }
    }
    @keyframes moveToTopFadeYear {
      to { opacity: 0; -moz-transform: translateY(-30%); }
    }
    
    @-webkit-keyframes moveFromTopFadeYear {
      from { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
    }
    @-moz-keyframes moveFromTopFadeYear {
      from { opacity: 0; -moz-transform: translateY(30%); }
    }
    @keyframes moveFromTopFadeYear {
      from { opacity: 0; -moz-transform: translateY(30%); }
    }
    
    @-webkit-keyframes moveToBottomFadeYear {
      to { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
    }
    @-moz-keyframes moveToBottomFadeMYear {
      to { opacity: 0; -webkit-transform: translateY(30%); }
    }
    @keyframes moveToBottomFadeYear {
      to { opacity: 0; -webkit-transform: translateY(30%); }
    }
    
    @-webkit-keyframes moveFromBottomFadeYear {
      from { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
    }
    @-moz-keyframes moveFromBottomFadeYear {
      from { opacity: 0; -webkit-transform: translateY(-30%); }
    }
    @keyframes moveFromBottomFadeYear {
      from { opacity: 0; -webkit-transform: translateY(-30%); }
    }
    
    @-webkit-keyframes fadeIn  {
      from { opacity: 0; }
    }
    @-moz-keyframes fadeIn  {
      from { opacity: 0; }
    }
    @keyframes fadeIn  {
      from { opacity: 0; }
    }
    
    @-webkit-keyframes fadeOut  {
      to { opacity: 0; }
    }
    @-moz-keyframes fadeOut  {
      to { opacity: 0; }
    }
    @keyframes fadeOut  {
      to { opacity: 0; }
    }
    
    @-webkit-keyframes fadeOutShink  {
      to { opacity: 0; padding: 0px; height: 0px; }
    }
    @-moz-keyframes fadeOutShink  {
      to { opacity: 0; padding: 0px; height: 0px; }
    }
    @keyframes fadeOutShink  {
      to { opacity: 0; padding: 0px; height: 0px; }
    }
    